-- the values in config_base are mandatory
config_base={
	camera_ID='B',
	interval=600,
}

config_storage={
        resize=true,
        resize_geometry='2048x1536',
        local_archive=true,
        archive_path='/root/archive/',
        upload=true,
        upload_type='ftp', -- Options: http, ftp
	upload_URL='ftp://domain.com/webcam/',
	upload_user='user:password'
}

-- enable these options carefully - some cameras might not support some of
-- these properties and might crash. It's a good idea to change one at a time
config_option={
--	zoom='0',
--	flash='2',
--	whitebalance='0',
--	resolution='1'
}

-- 'night' shutter speed for low light conditions should be generally safe.
config_night={
	enabled=true,
	threshold=-620,
	shutter='15'
}

